body{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 60.5%;
}
.header-site{
    width:100%;
    height:100vh;
    background: linear-gradient(	#FFB6C1,#DB7093);
    position:fixed;
    clip-path: polygon(0% 0%,100% 0%,100% 80%,10% 100%);
}
nav{
    width:100%;
    height:10rem;
    display:flex;
}
.logo{
    margin-left: 3rem;
    margin-top: .5rem;
    font-size: 2rem;
    color:white;
    width:50%;
    height:10rem;
    text-transform: uppercase;
}
.menu{
    width:50%;
    height:10rem;
    margin-top: 2rem;
    color:white;
}
.menu ul{
    width:100%;
    height:10rem;
    display:flex;
}
.menu ul li{
    width:100%;
    height:10rem;
    list-style:none;
    weight:bold;
    font-size: 1.7rem;
}
section{
    display:flex;
}
.leftside{
    margin-left:10rem;
    margin-top:1.5rem;
    overflow:hidden;
    width:50%;
    height:auto;  
}
.leftside img{
    height:62rem;
    weight:52rem;
}

.rightside{
    text-align:center;
    color:white;
    margin-top:15rem;
    padding:3.5rem;
    width:45%;
    height:30rem;
}
.rightside h1{
    font-size: 4rem;
    font-weight: bold;
}
.rightside p{
    font-size: 2rem;
    padding-bottom: .5rem;
    font-weight:bold;
}


a:link, a:visited{
    text-decoration:none;
    color:white;
    font-size:2rem;
    border-radius:.4rem;
    text-transform: uppercase;
    font-weight: bold;
    padding:1rem;
    background: linear-gradient(	#FFB6C1,#DB7093);
}
.rightside button:hover{
    background: linear-gradient(#DB7093,#FFB6C1);
}
@media(max-width:998px){
    html{
        font-size: 55%;
    }

}
@media(max-width:768px){
    html{
        font-size:45%
    }
}