body{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
.header-site{
    width:100%;
    height:100vh;
    background: linear-gradient(	#FFB6C1,#DB7093);
    position:fixed;
    clip-path: polygon(0% 0%,100% 0%,100% 80%,10% 100%);
}
nav{
    width:100%;
    height:100px;
    display:flex;
}
.logo{
    margin-left: 30px;
    margin-top: 5px;
    font-size: 20px;
    color:white;
    width:50%;
    height:100px;
    text-transform: uppercase;
}
.menu{
    width:50%;
    height:100px;
    margin-top: 20px;
    color:white;
}
.menu ul{
    width:100%;
    height:100px;
    display:flex;
}
.menu ul li{
    width:100%;
    height:100px;
    list-style:none;
    weight:bold;
}
section{
    display:flex;
}
.leftside{
    margin-left:150px;
    margin-top:30px;
    overflow:hidden;
    width:50%;
    height:auto;  
}
.leftside img{
    height:600px;
    weight:500px;
}

.rightside{
    text-align:center;
    color:white;
    margin-top:150px;
    padding:40px;
    width:45%;
    height:300px;
}
.rightside h1{
    font-size: 40px;
    font-weight: bold;
}
.rightside p{
    font-size: 20px;
    padding-bottom: 5px;
    font-weight:bold;
}


a:link, a:visited{
    color:white;
    font-size:20px;
    border-radius:4px;
    text-transform: uppercase;
    font-weight: bold;
    padding:10px;
    background: linear-gradient(	#FFB6C1,#DB7093);
}
.rightside button:hover{
    background: linear-gradient(#DB7093,#FFB6C1);
}


a:link{
    text-decoration:none;